body{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	color: #533738;
}

h2{
	text-transform: uppercase;
	font-size: 40px;
}
	
h1, h2, h3, h4, h5, h6{
	margin: 0px;
	font-weight: normal;

}

a{
	text-decoration: none;
	color: #533738;
}

p{
	line-height: 30px;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}


.container{
	width: 1036px;
	margin: auto;
}


.header{
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 38px;
	padding-bottom: 260px;

}


.nav{
	width: 1201px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;

}

.logo{
	display: flex;
	align-items: center;
}


nav ul li a {
    position: relative;
    z-index: 1;
}
nav ul {
  	list-style: none;
  	text-align: center;
}
nav ul li {
	height: 20px;
	display: inline-block;
}
nav ul li a {
	display: block;
	text-decoration: none;
	color: #533738;
	margin: 0 10px;
	padding-bottom: 5px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  	transition: all .1s ease;

}

nav ul li a:hover {
	text-shadow: 0.6px 0.6px #533738; 
	padding-bottom: 3px;
	transform: scale(1.03);
  	
}

nav ul li a:active {
  	transform: scale(1);
}


.wrapper{
	width: 470px;
	margin-top: 91px;
}

.wrapper h1{
	font-size: 50px;
	margin-bottom: 37px;
}

.wrapper p{
	margin-right: 64px;
	
}

.btn{
	outline: none;
	margin-top: 32px;
	background: #CC8B86;
	padding: 0px 65px;
	height: 74px;
	font-size: 20px;
	border: 0px;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.navigation-btn{
	display: block;
	margin-right: 168px;
	padding: 25px 65px;

}

.btn:hover{
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
	background: #d68985;

}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.about-us{
	text-align: center;
	padding-top: 65px;
	background: #efe6e4;
	padding-bottom: 21px;
	
}

.about-us_wrapper{
	text-align: left;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.about-us_wrapper p{
	margin-left: 63px;
}


.achievements{
	padding-top: 85px;
	padding-bottom: 81px;
	background: #8D7370;
	color: #fff;
	
}

.achievements_content{
	display: flex;
	justify-content: space-between;
}

.achievements_wraper{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;

}

.numeral{
	margin-bottom: 28px;
	font-size: 50px;
}


.our_work{
	background: #efe6e4;
	padding-top: 64px;
	padding-bottom: 65px;
}

.our-work_width{
	width: 1201px;
	margin: auto;

}


.our_work h3{
	font-size: 30px;
	padding-bottom: 31px;
}

.our_work_content{
		
	display: flex;
	margin-top: 40px;
}

.our_work_wrapper{
	margin-right: 20px;
	background: url(../img/image.png) no-repeat;
	height: 451px;
}

.our_work_wrapper_text{
	opacity: 0;
	text-align: center;
	height: 451px;
	color: #fff;
	padding-top: 86px;
	width: 488px;
	transition: 0.3s linear;
    transition-property: opacity;
}

.our_work_wrapper_text:hover{
	opacity: 1;
	background: rgba(100, 72, 69, 0.8);
}

.our_work_wrapper_text h3{
	font-size: 30px;
}

.our_work_wrapper_text p{
	text-align: left;
	padding: 0px 35px;
}

.our_work_wrapper2{
	
	background: url(../img/Rectangle.png) no-repeat;

}

.our_work_wrapper_text2{
	opacity: 0;
	text-align: center;
	height: 451px;
	color: #fff;
	padding-top: 86px;
	transition: 0.3s linear;
    transition-property: opacity;

}

.our_work_wrapper_text2:hover{
	opacity: 1;
	background: rgba(100, 72, 69, 0.8);

}


.our_work_wrapper_text2 p{
	padding: 0px 95px;
	text-align: left;
}


.our_work_content2{
	display: flex;
	margin-top: 30px;
}

.our_work_wrapper3{
	background: url(../img/Rectangle2.png) no-repeat;
	margin-right: 20px;
}

.our_work_wrapper4{
	background: url(../img/image2.png) no-repeat;
	margin-right: 0px;
}


.our_work_arrow{
	margin-top: 40px;
	text-align: center;
	align-items: center;
    transition: .3s;
}



.our_work_arrow p{
	font-size: 30px;
	
}



.our_work_arrow img{
	padding-top: 5px;
}

.team_photo_wrapper{
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
}

.team{
	padding-bottom: 80px;
	padding-top: 50px;
	background: #E2C4BA;
	text-align: center;
}

.team_photo{
	line-height: 25px;
	text-align: left;
	width: 320px;

}


.Job{
	width: 1201px;
	margin: auto;
	margin-top: 35px;
}

.Job_content{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.Job_wrapper{
	text-align: center;
	width: 285px;
}

.nomber2{
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8D7370;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-bottom: 20px;
}

.reviews{
	background: #efe6e4;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 62px;
	min-width: 0;
}

.reviews_content{
	transition: all 0.5s ease;
	text-align: left;
	margin-top: 40px;
}

.reviews_content2{
	
}

.reviews_flex{
	padding: 0px 100px;
	display: flex;
}

.reviews_text{
	margin-top: 91px;
	
}

.reviews_photo{
	
}

.reviews_photo img:nth-child(1){
	margin-bottom: 17px;
}

.arrow{
	cursor: pointer;
	outline:none;
	z-index: 1;

}



.button-next{
	background: url(../img/arrow1.png) no-repeat;
	position: absolute;
	top: 42%;
	left: 0;
	width: 72px;
	height: 72px;
	
	
}

.button-prev{
	background: url(../img/arrow2.png) no-repeat;
	position: absolute;
	top: 42%;
	right: 0;
	width: 72px;
	height: 72px; 
		
}


.application{

	background: #8D7370;
	


}

.application-width{
	width: 1201px;
	margin: auto;
}

.application-content{

	display: flex;
	color: #fff;

}


.application-wrapper{
	padding-left: 65px;
	margin-top: 50px;
	margin-bottom: 186px;
	width: 593px;

}

.p1{
	margin: 24px 0px 44px 0px;
	opacity: 0.6;

}



.application-input{
	outline: none;
	font-family: 'Montserrat', sans-serif;
	width: 531px;
	background: none;	
	border: 0;
	border-bottom: 1px solid #F6EDE9;
	padding-bottom: 12px;
	color: #F6EDE9;
	font-size: 18px;
	transition: all  0.3s ease;
}

.application-input:focus{
	padding-left: 8px;
}

.application-input:nth-child(1){
	margin-bottom: 35px;
}

/*Для покраски placeholder*/
input::-webkit-input-placeholder {
	color: #F6EDE9 !important;
					}
					
	input:-moz-placeholder { 
	color: #F6EDE9 !important;  
	}
					
	input::-moz-placeholder {  
	color: #F6EDE9 !important;  
	}
					
	input:-ms-input-placeholder {  
	color: #F6EDE9 !important;  
	}


.application-wrapper button{
	color: #533738;
}



.application-iflame{
	padding-left: 20px;
	width: 590px;
	border:0;


}

.footer{
	background: #efe6e4;
	padding: 37px 0px;
}


.footer-container{
	width: 1201px;
	margin: auto;
}

.footer-wrapper{
	display: flex;
	justify-content: space-between;
}


.footer-content{
	align-items: center;
	display: flex;
}

.footer-content a{
	margin-right: 42px; 
}